.about {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 20px;
  padding: 20px;
  padding-top: 10%;
  padding-bottom: 20%;
  border-radius: 10px;
  padding-left: 10%;
  align-items: center;
  display: flex;
}

.about {
  flex-wrap: wrap; /* Allow elements to wrap to the next line */
  justify-content: center; /* Center elements on the main axis */
  align-items: center; /* Center elements on the cross axis */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



#aboutElements p {
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
  font-size: 20px;
}

#aboutElements {
  margin-left: 30px;
}

#aboutElements ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1rem; /* Adjust font size relative to the root font size */
}

#aboutElements li {
  color: #555;
  line-height: 2.5;
}

#aboutElements p:first-of-type {
  font-weight: bold;
}

#aboutPic {
  flex: 0 0 auto;
}

#aboutPic img {
  margin-left: 40%;
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  object-fit: cover;
}

.about.visible #aboutElements,
.about.visible #aboutPic {
  opacity: 1;
  animation: fadeIn 2s ease-in forwards;
}

#aboutElements, #aboutPic {
  opacity: 0; /* Hidden by default */
}

.about h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
  letter-spacing: .15em;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;    /* Hide text outside width */
  width: 0;            /* Start with zero width */
  border-right: 2px solid orange; /* Blinking cursor */
  animation: typing 3s steps(30, end) forwards, blink 0.5s step-end infinite;
}

.about.finished h1 {
  border-right: none; /* Remove cursor when finished */
}



@media (max-width: 768px) {
  .about {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }
  #aboutElements {
    margin-left: 0; /* Align text centrally for smaller screens */
    text-align: center;
  }
  #aboutPic img {
    margin-left: 0; /* Center the image */
    width: 150px; /* Adjust the image size */
    height: 150px;
  }
  .about h1 {
    font-size: 1.5em; /* Reduce heading size */
  }
}

@media (max-width: 480px) {
  .about {
    padding: 5px; /* Further reduce padding */
  }
  #aboutElements {
    font-size: 16px; /* Smaller font size for text */
  }
  #aboutPic img {
    width: 100px; /* Smaller image size */
    height: 100px;
  }
}
