@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif; /* or 'Open Sans', sans-serif; */
  background-color: #f0f0f0;
}
#aboutMe {
  background-color: #f0f0f0;
  color: #f0f0f0;
  height: 300px;
}

#navbar {
  background-color: #f0f0f0;
  color: #f0f0f0;
  height: 100px;
  display: flex;
  align-items: center; /* Optional: Aligns items vertically in the middle */
  display: flex;
  justify-content: space-between;
  padding: 0 10px; 

}

#navRight{
  gap: 15px; /* Optional: Adds some space between the items */
}
#navName{
  color: black
}

#navButton{
  color: black;
  background-color: #f0f0f0;
  border: none;
  height: 20px;
  gap: 20px;
}

.section {
  background-color: #f0f0f0;
}

#navButton img {
  margin-left: 7.5px;
  margin-right: 7.5px;
}