@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

#aboutMe {
  background-color: white;
  color: #f0f0f0;
  height: 300px;
}

#navbar {
  background-color: white;
  color: black;
  height: 100px;
  display: flex;
  align-items: center; /* Aligns items vertically in the middle */
  justify-content: center;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#navRight {
  gap: 30px; /* Adds space between items */
}

#navName {
  color: black;
}

.navButton {
  color: black;
  background-color: white;
  border: none;
  height: 60px;
  display: flex;
  align-items: center;
}

.navButton a {
  letter-spacing: 0.15em;
}

.navButton img {
  width: 20px;
  height: auto;
}

a {
  text-decoration: none;
  letter-spacing: 0.15em;
  margin: 0 8px; /* Unified left and right margins */
}

.section {
  background-color: white;
}
