.experience-section {
  padding: 20px;
  text-align: center;
  display: flex;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.experience-header {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 3%;
  letter-spacing: .15em;
  white-space: nowrap;
}

/* Scrollable container */
.experience-scroll {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Style each experience item */
.experience-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.experience-item p {
  margin: 5px 0;
}
